<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contáctanos</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/imgLogo/logoCharvelaes.jpg" type="image/x-icon">
</head>
<body>
    		<header>
			<div class="container-hero">
				<div class="container hero">
					<div class="customer-support">
						<i class="fa-solid fa-headset"></i>
						<div class="content-customer-support">
							<span class="text">Nuestro Contacto</span>
							<span class="number">300 1234567</span>
						</div>
					</div>

					<div class="container-logo">
						<h1 class="logo"><a href="/">CHARVELAES</a></h1>
					</div>

					<div class="container-user">
						<i class="fa-solid fa-basket-shopping"></i>
						<div class="content-shopping-cart">
						</div>
					</div>
				</div>
			</div>

			<div class="container-navbar">
				<nav class="navbar container">
					<i class="fa-solid fa-bars"></i>
					<ul class="menu">
						<li><a href="/index.html">Inicio</a></li>
						<li><a href="#">Productos</a></li>
						<li><a href="quienesSomos.html">Quienes Somos</a></li>
						<li><a href="#">Contáctanos</a></li>
					</ul>

					<div class="nav-auth">
    					<a href="login.html" class="btn-login">Iniciar Sesión</a>
    					<a href="register.html" class="btn-register">Registrarse</a>
  					</div>
					
				</nav>
			</div>
		</header>

    <div class="contat-page">
        <div class="container-contactanos">
            <div class="box-informacion">
                <h1>Contactános</h1>
                <div class="info-contac">
                    <p><i class="fa-solid fa-phone"></i>+57 123 4567</p>
                    <p><i class="fa-solid fa-envelope"></i>bladdiaz01@gmail.com</p>
                    <p><i class="fa-solid fa-location-dot"></i>Santa Fe de Antioquia</p>
                </div>
                <div class="linksocial">
                    <a href=""><i class="fa-brands fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/chococharvelaes/"><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                </div>
            </div>
            <form class="formulariocontac">
                <div class="formcontat">
                    <input type="text" placeholder="Ingresa tu Nombre" required>
                    <i class="fa-solid fa-user"></i>
                </div>
                <div class="formcontat">
                    <input type="email" placeholder="Ingresa tu correo" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>
                <div class="formcontat">
                    <input type="text" placeholder="Asunto">
                    <i class="fa-solid fa-pen-to-square"></i>
                </div>
                <div class="formcontat">
                    <textarea cols="30" rows="10" placeholder="Escribe tu mensaje"></textarea>
                </div>
                <button type="submit">Enviar Mensaje</button>
            </form>
        </div>
    </div>


    		<footer class="footer">
			<div class="container container-footer">
				<div class="menu-footer">
					<div class="contact-info">
						<p class="title-footer">Información de Contacto</p>
						<ul>
							<li>
								Visítanos en
							</li>
							<li>Teléfono: 123-456-7890</li>
							<li>EmaiL: </li>
						</ul>
						<div class="social-icons">
							<span class="facebook">
								<i class="fa-brands fa-facebook-f"></i>
							</span>

							<a href="https://www.instagram.com/chococharvelaes/">
								<span class="instagram">
								<i class="fa-brands fa-instagram"></i>
							</span>
							</a>
							
							<span class="whatsapp">
								<i class="fa-brands fa-whatsapp"></i>
							</span>
						</div>
					</div>

					<div class="information">
						<p class="title-footer">Información</p>
						<ul>
							<li><a href="#">Sobre Nosotros</a></li>
							
							<li><a href="#">Politicas de Privacidad</a></li>
							<li><a href="#">Términos y condiciones</a></li>
							<li><a href="#">Contactános</a></li>
						</ul>
					</div>

					<div class="my-account">
						<p class="title-footer">Mi cuenta</p>

						<ul>
							<li><a href="#">Mi cuenta</a></li>
							<li><a href="#">Mis ordenes</a></li>
							<li><a href="#">Mis Productos Favoritos</a></li>
						</ul>
					</div>

					<div class="copyright2">
				
					<img src="/images/imgLogo/logoCharvelaes.jpg" alt="Pagos">
				</div>

				</div>

				<div class="copyright">
					<p>
						Charvelaes &copy; 2026
					</p>
				</div>
			</div>
		</footer>

        <script src="https://kit.fontawesome.com/de0f57d1ae.js" crossorigin="anonymous"></script>
</body>
</html>